body {
  position: absolute;
  background-image: url('../common/images/design/ozadje.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 700px;
}

.start {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 500px;
}